@keyframes timeline
{
  from {top: 4px;}
  to {top: 20px;}
}
.timeline-container h2
{
  position: relative;
  animation-name: timeline;
  animation-duration: 1s;
  animation-fill-mode: both;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.timeline-container
{
  padding: 2rem 20rem;
  margin: 7rem auto;
  background-color:black;
}
.timeline
{
  position:relative;
  min-height:150px;
}
.timeline-container h2
{
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;;
  color: white;
  padding-bottom: 3rem;
}
.line
{
  position:absolute;
  z-index:2;
  left:calc(50% - 1px);
  width:2px;
  top:-50px;
  bottom: -50px;
  background-color: white;
  display:none;
}
.line:before,
.line:after
{
  position: absolute;
  display:block;
  content:'';
  height:1rem;
  width:1rem;
  border-radius: 50%;
  background-color: white;
  left:50%;
  transform: translateX(-50%);

}
.line:after{
  bottom:0;
}
.section
{
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index:1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 150px;
}

.section:nth-child(odd)
{
  flex-direction: row-reverse;
  transform: translateX(100%);
}
.bead
{
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: white;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
.content{
  width: calc(50% - 2rem);
  background-color: white;
  border-radius: 10px;
  color: black;
  font-style: italic;
  padding-top: 6px;

}
.show-me:nth-child(n)
{
  transform: none;
  opacity:1;
}
